option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: mysite/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: mysite.settings
    - option_name: AWS_SECRET_KEY
      value: AKIAII4BOX4JTWQUW7TA
    - option_name: AWS_ACCESS_KEY_ID
      value: KxBWvizZ1zVJrBGund2GADDVk/T5gISqvHRD+VkZ
    - namespace: aws:elasticbeanstalk:container:python:staticfiles
      option_name: /static/
      value: static/